<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Dashboard/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/About/Index">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Hakkımda</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Blog/Index">
                <i class="ti-book menu-icon"></i>
                <span class="menu-title">Bloglar</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Category/Index">
                <i class="icon-layers menu-icon"></i>
                <span class="menu-title">Kategori</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Comment/Index">
                <i class="ti-comment-alt menu-icon"></i>
                <span class="menu-title">Yorumlar</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Social/Index">
                <i class="icon-share menu-icon"></i>
                <span class="menu-title">Sosyal Medyalar</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Tag/Index">
                <i class="icon-tag menu-icon"></i>
                <span class="menu-title">Taglar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Contact/Index">
                <i class="ti-headphone-alt menu-icon"></i>
                <span class="menu-title">İletişim Alanı</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Message/Index">
                <i class="ti-email menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/User/Index">
                <i class="ti-id-badge menu-icon"></i>
                <span class="menu-title">Kullanıcılar</span>
            </a>
        </li>



       
    </ul>
</nav>