<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Blog/Index">
                <i class="ti-book menu-icon"></i>
                <span class="menu-title">Bloglarım</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Writer/Comment/Index">
                <i class="ti-comment-alt menu-icon"></i>
                <span class="menu-title">Yorumlarım</span>
            </a>
        </li>


    </ul>
</nav>